* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

body {
    padding: 2.5%;
}

/*  MOBILE FIRST (default styles)  */

.container {
    width: 100%;
    height: 100%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 35px;
}

.heading h3 {
    font-size: 20px;
    margin-top: 5px;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
}

.box {
    width: 100%;
    aspect-ratio: 1.2;
    border-radius: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease; 
}

.box:active {
    cursor: pointer;
    scale: 0.95;
}

/*   TABLET (min-width: 600px)  */

@media (min-width: 600px) {

    .heading h1 {
        font-size: 50px;
    }

    .heading h3 {
        font-size: 24px;
    }

    .tiles {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }

    .box {
        aspect-ratio: 1.3;
    }
}

/* DESKTOP (min-width: 1024px) */

@media (min-width: 1024px) {

    .heading h1 {
        font-size: 70px;
    }

    .heading h3 {
        font-size: 32px;
    }

    .tiles {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .box {
        aspect-ratio: 1.5;
    }
}
